@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
$gray1: rgb(30, 30, 30);
$gray2: rgb(70, 70, 70);
$gray3: rgb(120, 120, 120);
$gray4: rgb(235, 235, 235);
$shadow1: rgba(0, 0, 0, 0.35) 0px 5px 12px;
$shadow2: rgba(0, 0, 0, 0.55) 0px 5px 25px;
$shadow3: rgba(0, 0, 0, 0.25) 0px 3px 15px;
$btnrad: 70px;
$highlight: rgba(97, 145, 215, 1);
$highlight-light: rgba(97, 145, 215, 0.7);
$highlight-bright: rgba(143, 166, 200, 0.9);

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-body {
  margin-top: 70px;
}

.dashboard-title {
  font-family: 'Ubuntu', sans-serif;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  width: 95%;
}

.metric-container {
  min-width: 400px;
  max-width: 500px;
  min-height: 300px;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5px;
  .metric-title {
    font-family: 'Ubuntu', sans-serif;
    margin: 5px;
  }
  margin-bottom: 15px;
}

header {
  width: 100%;
  height: 70px;
  top: 0px;
  left: 0px;
  background-color: $highlight;
  display: flex;
  position: fixed;

  justify-content: space-evenly;
}

header nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  max-width: 100%;
  position: fixed;
  top: 0px;

  a {
    text-decoration: none;
    color: $gray4;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    padding: 6px;
    border-radius: 18px;
    margin: 2px;
  }
  .nav-btn:hover {
    transform: scale(1.12);
    text-decoration: underline;
  }
  :last-child {
    margin-right: 40px;
  }
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  :first-child {
    margin-left: 40px;
  }
  .logo-image {
    width: 40px;
    height: auto;
    margin-right: 20px;
  }
  h3 {
    font-family: 'Ubuntu', sans-serif;
    color: $gray4;
    font-size: 30px;
  }
}
