@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
$gray1: rgb(30, 30, 30);
$gray2: rgb(70, 70, 70);
$gray3: rgb(120, 120, 120);
$gray4: rgb(235, 235, 235);
$shadow1: rgba(0, 0, 0, 0.35) 0px 5px 12px;
$shadow2: rgba(0, 0, 0, 0.55) 0px 5px 25px;
$shadow3: rgba(0, 0, 0, 0.25) 0px 3px 15px;
$btnrad: 70px;
$highlight: rgba(97, 145, 215, 1);
$highlight-light: rgba(97, 145, 215, 0.7);
$highlight-bright: rgba(143, 166, 200, 0.9);

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-body {
  margin-top: 70px;
}

.dashboard-title {
  font-family: 'Ubuntu', sans-serif;
}
.metric-title {
  font-family: 'Ubuntu', sans-serif;
}
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  width: 95%;
}

.metric-container {
  min-width: 400px;
  max-width: 500px;
  min-height: 400px;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

header {
  width: 100%;
  height: 70px;
  top: 0px;
  left: 0px;
  background-color: $highlight;
  display: flex;
  position: fixed;

  justify-content: space-evenly;
}

header nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  max-width: 100%;
  position: fixed;
  top: 0px;

  a {
    text-decoration: none;
    color: $gray4;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    padding: 6px;
    border-radius: 18px;
    margin: 2px;
  }
  .nav-btn:hover {
    transform: scale(1.12);
    text-decoration: underline;
  }
  :last-child {
    margin-right: 40px;
  }
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  :first-child {
    margin-left: 40px;
  }
  .logo-image {
    width: 40px;
    height: auto;
    margin-right: 20px;
  }
  h3 {
    font-family: 'Ubuntu', sans-serif;
    color: $gray4;
    font-size: 30px;
  }
}

.react-responsive-modal-root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.react-responsive-modal-container {
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

/* Used to trick the browser to center the modal content properly  */
.react-responsive-modal-containerCenter:after {
  width: 0;
  height: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.react-responsive-modal-modal {
  width: 80%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: #ffffff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 1.2rem;
  padding: 1.2rem;
  position: relative;
  overflow-y: auto;
}

.react-responsive-modal-closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}

/* Used to fix a screen glitch issues with the animation see https://github.com/pradel/react-responsive-modal/issues/495 */
.react-responsive-modal-overlay,
.react-responsive-modal-container,
.react-responsive-modal-modal {
  animation-fill-mode: forwards !important;
}

@keyframes react-responsive-modal-overlay-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes react-responsive-modal-overlay-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes react-responsive-modal-modal-in {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes react-responsive-modal-modal-out {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0.96);
    opacity: 0;
  }
}
