@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
$gray1: rgb(30, 30, 30);
$gray2: rgb(70, 70, 70);
$gray3: rgb(120, 120, 120);
$gray4: rgb(235, 235, 235);
$shadow1: rgba(0, 0, 0, 0.35) 0px 5px 12px;
$shadow2: rgba(0, 0, 0, 0.55) 0px 5px 25px;
$shadow3: rgba(0, 0, 0, 0.25) 0px 3px 15px;
$btnrad: 70px;
$highlight: rgba(97, 145, 215, 1);
$highlight-dark: rgb(33, 81, 155);
$highlight-light: rgba(97, 145, 215, 0.7);
$highlight-bright: rgba(143, 166, 200, 0.9);

* {
  font-family: 'Ubuntu', sans-serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-body {
  margin-top: 70px;
}

.dashboard-title {
  font-family: 'Ubuntu', sans-serif;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  width: 95%;
}

.metric-container {
  min-width: 400px;
  max-width: 500px;
  min-height: 300px;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5px;
  .metric-title {
    font-family: 'Ubuntu', sans-serif;
    margin: 5px;
  }
  margin-bottom: 15px;
}

header {
  width: 100%;
  height: 70px;
  top: 0px;
  left: 0px;
  background-color: $highlight;
  display: flex;
  position: fixed;

  justify-content: space-evenly;
}

header nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  max-width: 100%;
  position: fixed;
  top: 0px;

  a {
    text-decoration: none;
    color: $gray4;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    padding: 6px;
    border-radius: 24px;
    margin: 2px;
  }
  .nav-btn:hover {
    transform: scale(1.12);
    text-decoration: underline;
  }
  :last-child {
    margin-right: 40px;
  }
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  :first-child {
    margin-left: 40px;
  }
  .logo-image {
    width: 40px;
    height: auto;
    margin-right: 20px;
  }
  h3 {
    font-family: 'Ubuntu', sans-serif;
    color: $gray4;
    font-size: 30px;
  }
}

//status bar styling
.status-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10%;
  padding-right: 10%;
  width: auto;
  border: 2px solid rgba(0, 44, 139, 0.4);
  border-radius: 8px;
  height: 3.5rem;
  margin: auto;
  background-color: #2f72cf33;
  margin-bottom: 1rem;
  overflow-y: hidden;
  transition: height 0.3s;
}

#alertTitle {
  color: rgb(219, 28, 28);
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
#noAlertTitle {
  color: rgb(145, 143, 143);
}

.status-bar:hover {
  background-color: #2f72cf4f;
  overflow-y: auto;
  height: 10rem;
  cursor: pointer;
}
.critical {
  color: rgb(131, 17, 17);
}

.warning {
  color: rgb(238, 92, 70);
}

.hidden {
  color: rgb(145, 143, 143);
}

.status-bar:active {
  overflow-y: scroll;
}
// .status-bar:hover {
//   height: 10rem;
// }
.status-bar:click {
  height: 10rem;
  overflow-y: auto;
}

// Add Metric styling
.new-metric-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  h2 {
    font-family: 'Ubuntu', sans-serif;
  }
  h3 {
    font-family: 'Ubuntu', sans-serif;
  }
  .new-metric-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    .new-metric-form {
      min-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      > div {
        margin: 10px;
      }
      label,
      input,
      select,
      option {
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        margin: 5px;
      }
    }
    .new-metric-preview {
      min-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      .new-metric-status {
        .new-metric-status-message {
          height: 30px;
          font-family: 'Ubuntu', sans-serif;
          width: 100%;
          text-align: center;
        }
      }
      .new-metric-preview-image {
        min-height: 300px;
      }
    }
    .metric-text-area {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      #new-metric-custom-query {
        width: 330px;
        height: 120px;
      }
    }
  }
  .new-metric-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

//universal modal styling
.react-responsive-modal-root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.react-responsive-modal-container {
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

/* Used to trick the browser to center the modal content properly  */
.react-responsive-modal-containerCenter:after {
  width: 0;
  height: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.react-responsive-modal-modal {
  width: 80%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: #ffffff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 1.2rem;
  padding: 1.2rem;
  position: relative;
  overflow-y: auto;
}

.react-responsive-modal-closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}

/* Used to fix a screen glitch issues with the animation see https://github.com/pradel/react-responsive-modal/issues/495 */
.react-responsive-modal-overlay,
.react-responsive-modal-container,
.react-responsive-modal-modal {
  animation-fill-mode: forwards !important;
}

@keyframes react-responsive-modal-overlay-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes react-responsive-modal-overlay-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes react-responsive-modal-modal-in {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes react-responsive-modal-modal-out {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0.96);
    opacity: 0;
  }
}

/* CSS */
.btn {
  align-items: center;
  background-color: $highlight;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  margin: 10px;
  // max-width: 480px;
  // min-height: 40px;
  // min-width: 0px;
  width: 140px;
  height: 45px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.btn-small {
  align-items: center;
  background-color: $highlight;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  margin: 10px;
  // max-width: 480px;
  // min-height: 40px;
  // min-width: 0px;
  width: 50px;
  height: 25px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.btn:hover {
  background-color: $highlight-dark;
  color: #ffffff;
}
// .btn:focus {
//   background-color: $highlight-dark;
//   color: #ffffff;
// }
.btn-small:hover {
  background-color: $highlight-dark;
  color: #ffffff;
}

.btn:active {
  background: $highlight-dark;
  color: rgb(255, 255, 255, 0.7);
}
.btn-small:active {
  background: $highlight-dark;
  color: rgb(255, 255, 255, 0.7);
}

.btn:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
.btn-small:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
